name: MiniTB Daily Standings Update

on:
#  schedule:
#    # runs every day at 6:10 (UTC)
#    - cron: '10 7 * * *'
  workflow_dispatch:

jobs:
  get_and_push_standings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - run: pip install requests numpy nba_api pandas lxml
      - run: python scripts/daily_minitb.py
        env:
          PASSWORD: ${{ secrets.FIREBASE_DB_ADMIN_PASSWORD }}
